<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Organizing Website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="ccsticky-nav" style="font-size: 18px; font-family: 'Times New Roman', Times, serif;">
        <ul>
            <li><a href="ohome.html">Home</a></li>
            <li><a href="checkEvents.html">Check-Events</a></li>
            <li><a href="trending.html">Trending</a></li>
            <li><a href="appliedEvents.html">Applied Events</a></li>
            <li><a href="ologin.html">Logout</a></li>
        </ul>
    </nav>
    <!-- page-1 -->
    <div class="page1">
        <div class="container1">
            <div class="container2">
                <p>Event Organization</p>
                <p>Always at your service</p>
                <p style="font-size: 16px; margin-top: 2em;">We help you connect with event organizer. Organize your events with us and make your events even more grand...</p>
            </div>
    
            <img src="slide1.jpg" align="right">
        </div>    
    </div>

    <!-- page-2 -->
    <div class="page2">
        <h1 style="color: #0E185F;">Organize your event through 4 easy steps</h1>
        <div class="card">
            <img src="post.jpg" style="width: 100%" class="stepImage">
            <div class="card1">
                <h4>Post</h4>
                <p style="color: #0E185F;">Post the details of youe event on the webpage</p>
            </div>
        </div>
        <div class="card">
            <img src="check.jpg" style="width: 100%" class="stepImage">
            <div class="card1">
                <h4>Check response</h4>
                <p style="color: #0E185F;">Check the response of the event organizers. Organizers will give the cost and details about the event for organizing the event.</p>
            </div>
        </div>
        <div class="card">
            <img src="select.jpg" style="width: 100%" class="stepImage">
            <div class="card1">
                <h4>Select the organizer</h4>
                <p style="color: #0E185F;">User can select the event organizer of their choice depending on the details provided by the organizers.</p>
            </div>
        </div>
        <div class="card">
            <img src="connect.jpg" style="width: 100%" class="stepImage">
            <div class="card1">
                <h4>Connect with Organizer</h4>
                <p style="color: #0E185F;">User can connect with organizer and then discuss the furthur proceedings for the event.</p>
            </div>
        </div>
    </div>  
    

    <!-- footer -->
    <div class="footer">
        <div class="inner-footer">
      
      <!--  for company name and description -->
          <div class="footer-items">
            <h1>Event Organizing</h1>
            <p>Always at your service</p>
          </div>
      
      <!--  for quick links  -->
          <div class="footer-items">
            <h3>Quick Links</h3>
            <div class="border1"></div> <!--for the underline -->
              <ul>
                <a href="/home"><li>Home</li></a>
                <a href="/checkEvents.html"><li>Check Event</li></a>
                <a href="/trending.html"><li>Trending Events</li></a>
                <a href="/about"><li>About Us</li></a>
              </ul>
          </div>
      
    
      
      <!--  for contact us info -->
          <div class="footer-items">
            <h3>Contact us</h3>
            <div class="border1"></div> <!--for the underline -->
              <ul>
                <a href="#"><li>XYZ, abc</li></a>
                <a href="#"><li>1234567890</li></a>
                <a href="#"><li>xyz@gmail.com</li></a>
              </ul>
            </div>
            
            
      <!--   for social links -->
              <div class="social-media">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-google-plus-square"></i></a>
              </div> 
          </div>
        </div>
        
</body>
</html>